
@{
    ViewData["Title"] = "PrimoONo";
}

<h1>PrimoONo</h1>

<form method="post">
    <input type="number" name="numero" required />
    <button type="submit">Verificar</button>
</form>

@if (ViewBag.Mensaje != null)
{
    <h3>@ViewBag.Mensaje</h3>
}